@tailwind base;
@tailwind components;

.navlinks{
  @apply
  py-1 px-2 
  rounded-md
 hover:bg-red-700
 hover:text-white 
  hover:shadow-md;
}

@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
